$bg: linear-gradient(to left, rgba(160, 0, 255, 0.8), rgba(0, 0, 0) 50%, rgba(0, 0, 255, 0.8) 100%);

dialog {
    color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background: $bg;

    button {
        position: relative;
        width: 150px;
    }
}